<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Secrets.plist
   BigWarRoom

   Created by Gp. on 10/29/25.
   Copyright (c) 2025 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>THE_ODDS_API_KEY</key>
	<string>f228f549abbae8efad615b4eb3a65f22</string>
</dict>
</plist>